{
    "containerDefinitions": [
      {
        "name": "${FACILITY_ID}_vpi_${ENVIRONMENT}_backend",
        "image": "${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/backend",
        "cpu": 0,
        "portMappings": [
          {
            "containerPort": 80,
            "hostPort": 80,
            "protocol": "tcp"
          }
        ],
        "essential": true,
        "environment": [],
        "mountPoints": [],
        "volumesFrom": [],
        "secrets": [
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DEBUG_CONFIG::",
            "name": "DEBUG_CONFIG"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DOTNET_ENVIRONMENT::",
            "name": "DOTNET_ENVIRONMENT"
          },

          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DB_HOST::",
            "name": "DB_HOST"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DB_PORT::",
            "name": "DB_PORT"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DB_DATABASE::",
            "name": "DB_DATABASE"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DB_USER::",
            "name": "DB_USER"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:DB_PASSWORD::",
            "name": "DB_PASSWORD"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:APP_LAUNCH_URL::",
            "name": "APP_LAUNCH_URL"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:CDS_LAUNCH_URL::",
            "name": "CDS_LAUNCH_URL"
          },
		      {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:CDS_PROVIDER_ICON_URL::",
            "name": "CDS_PROVIDER_ICON_URL"
          },
		      {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:CDS_PROVIDER_URL::",
            "name": "CDS_PROVIDER_URL"
          },


          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmLocalCert::",
            "name": "VERADIGM_LOCAL_CERT"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmLocalCACert::",
            "name": "VERADIGM_LOCAL_CA_CERT"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmLocalIntermediateCACert::",
            "name": "VERADIGM_LOCAL_INTERMEDIATE_CA_CERT"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmLocalRootCert::",
            "name": "VERADIGM_LOCAL_ROOT_CERT"   
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmLocalCAPrivateKey::",
            "name": "VERADIGM_LOCAL_CA_PRIVATE_KEY"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmLocalPrivateKey::",
            "name": "VERADIGM_LOCAL_PRIVATE_KEY"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:VeradigmRemoteCert::",
            "name": "VERADIGM_REMOTE_CERT"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:VERADIGM_GAP_REQUEST_URL::",
            "name": "VERADIGM_GAP_REQUEST_URL"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:VERADIGM_SITE_ID::",
            "name": "VERADIGM_SITE_ID"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:VERADIGM_TIN::",
            "name": "VERADIGM_TIN"
          },

          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:SMART_WEB_APP_ID::",
            "name": "SMART_WEB_APP_ID"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:SMART_BACKEND_APP_ID::",
            "name": "SMART_BACKEND_APP_ID"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:SMART_REDIRECT_URL::",
            "name": "SMART_REDIRECT_URL"
          },

          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:JWT_SECRET::",
            "name": "JWT_SECRET"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:JWT_ISSUER::",
            "name": "JWT_ISSUER"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:JWT_BASEURL::",
            "name": "JWT_BASEURL"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:JWT_ACCESS_EXPIRATION::",
            "name": "JWT_ACCESS_EXPIRATION"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:JWT_REFRESH_EXPIRATION::",
            "name": "JWT_REFRESH_EXPIRATION"
          },


          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_BASE_URI::",
            "name": "UNITY_PRO_BASE_URI"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_UNITY_APP_NAME::",
            "name": "UNITY_PRO_UNITY_APP_NAME"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_UBIQUITY_ID::",
            "name": "UNITY_PRO_UBIQUITY_ID"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:serviceUsername::",
            "name": "UNITY_PRO_SERVICE_USERNAME"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:servicePassword::",
            "name": "UNITY_PRO_SERVICE_PASSWORD"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_SCHEDULED_STATUS_FILTER::",
            "name": "UNITY_PRO_SCHEDULED_STATUS_FILTER"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_ENCOUNTER_LIST_DAYS_BACK::",
            "name": "UNITY_PRO_ENCOUNTER_LIST_DAYS_BACK"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_TASK_TYPE::",
            "name": "UNITY_PRO_TASK_TYPE"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_PRO_SOURCE::",
            "name": "UNITY_PRO_SOURCE"
          },


          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:UnityBaseUrl::",
            "name": "UNITY_TW_BASE_URI"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:UnityAppName::",
            "name": "UNITY_TW_UNITY_APP_NAME"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_UBIQUITY_ID::",
            "name": "UNITY_TW_UBIQUITY_ID"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:UnityServiceUsername::",
            "name": "UNITY_TW_SERVICE_USERNAME"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:UnityServicePassword::",
            "name": "UNITY_TW_SERVICE_PASSWORD"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_SCHEDULED_STATUS_FILTER::",
            "name": "UNITY_TW_SCHEDULED_STATUS_FILTER"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_ENCOUNTER_LIST_DAYS_BACK::",
            "name": "UNITY_TW_ENCOUNTER_LIST_DAYS_BACK"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${ENVIRONMENT}/vd/${COMMON_SECRETS_ID}:UnityTaskType::",
            "name": "UNITY_TW_TASK_TYPE"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_SOURCE::",
            "name": "UNITY_TW_SOURCE"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_ENCOUNTER_TYPE::",
            "name": "UNITY_TW_ENCOUNTER_TYPE"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_APPOINTMENT_PROVIDER::",
            "name": "UNITY_TW_APPOINTMENT_PROVIDER"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:UNITY_TW_FORCE_NEW_ENCOUNTER::",
            "name": "UNITY_TW_FORCE_NEW_ENCOUNTER"
          },


          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:MOCK_EHR::",
            "name": "MOCK_EHR"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:MOCK_CDS_HOOKS::",
            "name": "MOCK_CDS_HOOKS"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:MOCK_PROVIDER::",
            "name": "MOCK_PROVIDER"
          },

          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:EHR_TYPE::",
            "name": "EHR_TYPE"
          },
		      {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:EHR_USER::",
            "name": "EHR_USER"
          },
          {
            "valueFrom": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${FACILITY_ID}/${FACILITY_SECRETS_ID}:EHR_PASSWORD::",
            "name": "EHR_PASSWORD"
          }
          ],
        "logConfiguration": {
          "logDriver": "awslogs",
          "options": {
            "awslogs-create-group": "true",
            "awslogs-group": "/ecs/${FACILITY_ID}_vpi_${ENVIRONMENT}_backend",
            "awslogs-region": "${AWS_REGION}",
            "awslogs-stream-prefix": "ecs"
          }
        }
      }
    ],
    "family": "${FACILITY_ID}_vpi_${ENVIRONMENT}_backend",
    "taskRoleArn": "arn:aws:iam::${AWS_ACCOUNT_ID}:role/ecsTaskExecutionRole",
    "executionRoleArn": "arn:aws:iam::${AWS_ACCOUNT_ID}:role/ecsTaskExecutionRole",
    "networkMode": "awsvpc",
    "volumes": [],
    "requiresCompatibilities": [
      "FARGATE"
    ],
    "cpu": "512",
    "memory": "1024"
  }
  
